<main id="root">

  <script type="text/javascript">
  window.images = {
    logo: "<%= asset_path("logo.png") %>"
  }
</script>

  <% if logged_in? %>
    <script type="text/javascript">
      window.currentUser = <%= render(
        "api/users/user.json.jbuilder",
        user: current_user
      ).html_safe %>
    </script>
  <% end %>

  <h1 style='font-family:monospace'> Things are not working as expected! Bear with us!</h1>

  <%= image_tag("zach_lavine.gif", :alt => "dunk") %>
</main>
