<main id="root">

  <h1 style='font-family:monospace'> Things are not working as expected! Bear with us!</h1>

  <!-- <%= image_tag("dunk.gif", :alt => "luhmao") %>
  <br>
  <%= image_tag("highfive.gif", :alt => "luhmao") %>
  <br> -->

</main>
<%= image_tag("klay_dunk.gif", :alt => "luhmao") %>
