@import "constants";

.feed-container{
  padding-top: 100px;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 36px;
  color: $darkgray;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
