.navbar-1 {
  position:fixed;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: black;
  width: 100vw;
  height: 50px;
  top: 0px;
  
}

.navbar-1 * {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.nav_float_left{
  display: block;
  padding: 14px 16px;
}

.nav_float_left * {
  padding: 0px 16px;
  font-size: 14px;
}

.nav_float_right{
  display: block;
  padding: 0px 16px;
}

#first_sign_up {
  background-color: #0099e5;
  color: white;
  border-radius: 25px;
  border: 1px solid #0099e5;
  font-size: 14px;
  font-weight: bold;
  height: 25px;
  line-height: 26px;
  padding: 0px 10px;
}

#first_sign_up:hover{
  background-color: #00b3e5;
}
