.header {
  text-align: center;
  background-image: url("https://media.giphy.com/media/sjmetO8yUKb4c/giphy.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.header * {
  text-decoration: none;
}

.header img{
  width: 80%;
}

.navbar-1 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
  background-color: black;
  height: 20px;
}

.navbar-1 * {
  display: inline-block;
  color: white;
}
#second_sign_up {
  border-radius: 3px;
  border: 1px solid black;
}
