.splash-navbar{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  color: #0099e5;
  width: 100vw;
  height: 70px;
  background-color: black;
  border-bottom: 1px solid grey;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;

  * {
    text-decoration: none;
  }
}

// .navbar-1 {
// }

.nav_float_left *{
  display: inline-flex;
  text-decoration: none;
  color: #0099e5;
  margin-left: 30px;
  margin-top: 25px;
  font-size: 14px;
}

.nav_float_right{
  display: flex;
  padding: 0px 16px;
}

#login_link {
  color: #0099e5;
  padding-top: 25px;
}

#first_sign_up {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  background-color: #0099e5;
  color: white;
  border-radius: 20px;
  border: 1px solid #0099e5;
  font-size: 14px;
  height: 28px;
  padding: 0px 15px 0px 15px;
  // margin: 10px 10px 10px 30px;
  line-height: 26px;
}

#first_sign_up:hover{
  background-color: #00b3e5;
}
