@import "constants";

.photo-full{
  background-color: #DCDCDC;
  height: 100%;
}

.photo-container{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  position: sticky;
  display: grid;
  grid-template-columns: minmax(250px, 2fr) minmax(250px, 1fr);
  grid-column-gap: 100px;
  margin-top: 70px;
  margin-left: 70px;
  height: 650px;

  img{
    object-fit: stretch;
    width: 100%;
    height: 90%;
  }

  .photo-display{
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .photo-detail-container {
    display: border;
    display: block;
    padding-left: 10px;
    padding-top: 30px;
    font-size: 14px;
    border-left: 1px solid $lightgray;

    .top-section{
      display: flex;

      .photo-det-UN *{
        padding-bottom: 15px;
        color: $darkgray;
        font-size: 18px;
        text-align: center;
        justify-content: center;
      }

      .username-link {
        color: $babyblue;
        text-decoration: none;
        position: relative;
        top: 15px;
        left: 3px;
      }
      .username-link:hover {
        color: blue;
      }
      .profile-picture{
        img {
          height: 50px;
          width: 50px;
        }
    }
  }
  }

  .buttons{
    margin-bottom: 10px;
  }

  .follow-button *{
    margin-top: 10px;
    background-color: white;
    color: $babyblue;
    border-color: $babyblue;
    border-radius: 5px;
    cursor: no-drop;
  }

  .like-button *{
    margin-top: 20px;
    background-color: $babyblue;
    color: white;
    border-radius: 15px;
    border: 1px solid $babyblue;
    font-size: 20px;
    height: 30px;
    line-height: 26px;
    width: 100px;
  }

  .like-button button:hover{
    background-color: $lightoceanblue;
  }

  .photo-buttons{
    display: flex;

  }

  .edit:hover{
    color: white;
    background-color: $babyblue;
  }

  .edit {
    text-decoration: none;
    border: 1px solid $babyblue;
    padding: 5px;
    border-radius: 25px;
    margin-right: 2px;
  }

  .photo-buttons *{
    margin-top: 10px;
    background-color: white;
    color: $babyblue;
    border-color: $babyblue;
    border-radius: 5px;
  }

  .photo-details{
    color: $darkgray;

    .text-details{
      display: flex;
      .photo-title{
        font-size: 14px;
        display: none;
      }

      .photo-description{
        font-size: 14px;
      }
      .photo-location{
        margin-top: 10px;
        font-size: 14px;
      }

      .photo-date {
        font-size: 14px;
        padding-left: 5px;
      }
    }

  }

  .edit-form {
    padding-top: 20px;
  }

  .edit-form label *{
    display: block;
  }

  .submit-button{
    background-color: $babyblue;
    color: white;
    border-radius: 5px;
  }


  button:hover{
    background-color: $babyblue;
    color: white;
  }
}
