.form-container {
  display: block;
    margin: 0 auto;
    width: 375px;
    height: 400px;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 3px;
    color: #71767a;
    border: 1px solid #eeeff2;
    font-size: 24px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    justify-content: center;
}

.form-container * {
  text-align: center;
  margin: 0 auto;
}


.form-container label {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}

.form-container input{
  width: 80%;
  margin: 10px;
  margin-top: 0px;
  height: 27px;
}

.form-container #formTypeSwap {
  font-size: 12px;
}

.session-submit {
  margin: 10px;
  color: white;
  background-color: #34bf49;
  border-radius: 3px;
  font-size: 18px;
  height: 27px;
}
